html{
    background-color:blanchedalmond;
}

.top table {
    width: 100%;
    height: 50px;
    background-color:bisque;
}

.top tr {
    width: 100%;
    height: 100%;
}

.top th, .top td{
    border: solid black 1px;
}

.middle {
    width: 100%;
}